<!doctype html>
<html lang="en" ng-app='app1'
	ng-init="person ={fName: 'Denise', lName:'Pereira'}; capitals=[{city: 'Sao Paulo', state:'Sao Paulo'},
	{city: 'Rio de Janeiro', state:'Rio de Janeiro'}, {city: 'Belo Horizonte', state:'Minas Gerais'}];" ng-cloak>

<head>
    <style>
        [ng\:cloak],[ng-cloak], .ng-cloak}{
            display: none;
        }
    </style>
<meta charset="utf-8" />
<title>Angular JS</title>
</head>
<body>
    <div ng-controller="ctrl1">

        <span>Values: </span>
        <input type="text" ng-model="first" />
        <input type="text" ng-model="second" />

        <button ng-click="updateValue()">Sum!</button>
        <br><br>

        {{calculation}}

        <p> 5+5 = {{5+5}}</p>
        <p> Your first value is {{first}}</p>
        <p>Your second value is <span data-ng-bind="second"></span></p>
        <p>{{person.fName + " "+person.lName}} you entered {{first + " and " + second }} values</p>

        <ul>
            <li ng-repeat ="capital in capitals">{{'City: '+ capital.city
                + ', State: ' + capital.state }}</li>
        </ul>
    </div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="../includes/js/example.js"></script>

</body>
</html>